<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Dropbox MyDrive</title>

    <!-- Bootstrap core CSS -->
    <link href="dropbox/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="dropbox/vendor/bootstrap/css/style.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="dropbox/css/simple-sidebar.css" rel="stylesheet">

    <link href="dropbox/chat/chat.css" rel="stylesheet">
    <!--ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
</head>
<body>
	<div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <% include ./sideBar %>
        <!-- /#sidebar-wrapper -->
		<div id="page-content-wrapper">
            <% include ./headBar %>
			<h1 class="mt-4">My Personal Infomation</h1>
			<div class="dropdown-divider"></div>
			<form>
	  			<div class="form-group row">
					<label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
					<div class="col-sm-10">
		  				<input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
    				</div>
  				</div>
			</form>
  		</div>
	</div>
	
	<hr>
<table>
    <tr>
        <% for(i=0; i<1; i++){ %>
            <%if (myinfo[i].user_id != myinfo[i].user_pw){ %>
            <form method="post" action="/user/update">
                Name: <%= myinfo[i].user_name %><br>
                ID :<%= myinfo[i].user_id %><br>
                <input type="hidden" name="user_id" value="<%= myinfo[i].user_id%>">
                PW :<input type="text" name="user_pw"><br>
                Reinsert PW:<input type="text" name="user_pw2" ><br>
                <%if (myinfo[i].user_email ==null) {%>
                    <%if(myinfo[i].user_phone==null){%>
                    EMAIL : <input type="text" name="user_email" value="<%= myinfo[i].user_email %>"><br>
                    PHONE: <input type="number" name="user_phone" value="<%= myinfo[i].user_phone %>"><br>
                    <%}else {%>
                    EMAIL: <input type="text" name="user_email"><br>
                    PHONE: <input type="number" name="user_phone" value="<%= myinfo[i].user_phone %>"><br>
                    <%}%>
                    <%} else {%>
                        <%if(myinfo[i].user_phone==null){%>
                        EMAIL: <input type="text" name="user_email" value="<%= myinfo[i].user_email %>"><br>
                        PHONE: <input type="number" name="user_phone"><br>
                        <%}else {%>
                        EMAIL: <input type="text" name="user_email" value="<%= myinfo[i].user_email %>"><br>
                        PHONE: <input type="number" name="user_phone" value="<%= myinfo[i].user_phone %>"><br>
                        <%}%>
                    <%}%>
                <button type="submit">Submit</button>
            </form>
        <%} else {%>
                <form method="post" action="/user/update_kakao_user">
                    Name: <%= myinfo[i].user_name %><br>
                    ID : <%= myinfo[i].user_id %><br>
                    <input type="hidden" name="user_id" value="<%= myinfo[i].user_id %>">
                    <%if (myinfo[i].user_email ==null) {%>
                        <%if(myinfo[i].user_phone==null){%>
                        EMAIL: <input type="text" name="user_email"><br>
                        PHONE: <input type="number" name="user_phone"><br>
                        <%}else {%>
                        EMAIL: <input type="text" name="user_email"><br>
                        PHONE: <input type="number" name="user_phone" value="<%= myinfo[i].user_phone %>"><br>
                        <%}%>
                    <%} else {%>
                        <%if(myinfo[i].user_phone==null){%>
                            EMAIL: <input type="text" name="user_email" value="<%= myinfo[i].user_email %>"><br>
                            PHONE: <input type="number" name="user_phone"><br>
                        <%}else {%>
                            EMAIL: <input type="text" name="user_email" value="<%= myinfo[i].user_email %>"><br>
                            PHONE: <input type="number" name="user_phone" value="<%= myinfo[i].user_phone %>"><br>
                        <%}%>
                    <%}%>
                    <button type="submit">Submit</button>
                </form>
            <%}%>
        <%}%>
    </tr>
</table>
<br>

	
	<script>
		$("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
		
		function toggle_visibility(id) {
            var e = document.getElementById(id);
            var box1 = document.getElementById("file_div_id");
            if (e.style.display == 'block') {
                box1.style.width = "100%";
                e.style.display = 'none';
            } else {
                box1.style.width = "70%";
                e.style.display = 'block';
            }
        }
	</script>

</body>
</html>
